.filterandsort {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

 /* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-jurisandsort {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 112px;
    max-width: 112px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: hidden;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Links inside the dropdown */
.dropdown-content-jurisandsort button {
    color: black;
    padding: 12px 52px;
    padding-left: 44px;
    text-decoration: none;
    display: block;
    border:none;
    width: max-content;
}

/* Change color of dropdown links on hover */
/* .dropdown-content-juris button:hover {background-color: #ddd;} */

.defaulthidden {display:none;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block !important;} 

#bannercontent img {
    height: 300px;
}
/* 
.header nav {
    display: flex;
    justify-content: center;
    align-items: center;
} */

div#banner {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #4a2a53;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

div#bannercontent { 
    width: 800px; 
    margin: 0 auto; 
    padding: 10px; 
    /* border: 1px solid #000; */
}

div#maincontent {
    padding-top: 70px;
}

.toggledon {
    background-color: #685e7c;
}

.jurisdictionButton:hover {
    background-color: #ddd;
}

.toggledon:hover {
    background-color: #5c5172 !important;
}

#invalidWarningCapsule p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    background-color: #ddd;
}

#invalidWarningCapsuleLate p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    background-color: #ddd;
}

#maincontent {
    margin-top: 270px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.ascDescWord {
    font-family: Arial, Helvetica, sans-serif; 
    /* margin-top: 50px; */
    /* padding-top: 50px; */
}

.sortButton:hover {
    background-color: #ddd;
}

.resultsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem 0;
    font-family: Arial, Helvetica, sans-serif;
}
.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 17rem;
    background: #e5d5f2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    margin: auto;
    overflow: hidden;
}
.card-image {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}
.card-name {
    color: #222;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.35rem;
    margin-top: 0.5rem;
    text-align: center;
}
.card-about {
    text-overflow: ellipsis;
    width: 15rem;
    white-space: wrap;
    overflow: hidden;
    margin-bottom: 1rem;
    text-align: center;
}

.btn {
    border: none;
    background: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(21, 21, 21, 0.1);
    cursor: pointer;
    font-size: 1.25rem;
    margin: 0 1rem;
    padding: 0.25rem 2rem;
    transition: all 0.25s ease-in-out;
    background: hsl(293, 52%, 75%);
    color: hsl(200, 100%, 35%);
    margin-bottom: 1rem;
}
.btn:focus,
.btn:hover {
    box-shadow: 1px 1px 2px rgba(21, 21, 21, 0.2);
    background: hsl(318, 99%, 66%);
    color: hsl(218, 81%, 40%)
}
.about-container {
    font-size: 1.25rem;
    margin-top: 2rem;
    text-align: justify;
    text-justify: inter-word;
}

.pageHeader {
    display: flex;
    font-family: Arial, Helvetica, sans-serif; 
    color: aliceblue;
}

.pageHeader h1 {
    padding-left: 150px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 10em;
    margin-top: 50px;
    margin-bottom: 50px;
}